/* application.scss */
body {
  background-color: #ebebeb;
}

.main {
  header {
    padding: 15px 0px;
    background: url(/images/sm-doctor.jpg) no-repeat;
    background-color: #ededff;
    border-bottom: 1px solid black;
    h1 {
      display: inline;
      padding-left: 40px;
    }
    nav {
      float: right;
      padding-right: 10px;
      .user-info {
        float: right;
        clear: both;
      }
      ul {
        float: right;
        clear: both;
        margin-right: 0px;
        li {
          list-style-type: none;
          display: inline-block;
        }
      }
    }
  }
  .content {
    padding: 10px 15px;
    h2 {
      display: inline;
      padding: 10px 0px;
    }
    form.search {
      float: right;
    }
    dl {
      dt {
        float: left;
        clear: left;
        width: 60px;
      }
      dd {
        margin-left: 70px;
      }
    }
    dl.even {
      background: #E5ECF9;
    }
  }
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: black 0px 0px 10px;
}

.debug {
  margin-top: 15px;
  color: #a44;
  border: 1px solid #888;
  background-color: #ccc;
  -webkit-box-shadow: black 0px 0px 10px;
}
